@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
}

.img {
  display: flex;
  justify-content: center;
}

.title__image {
  width: 50%;
  margin-top: 6px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 30px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  position: relative;
}

.card.active {
  flex: 5;
  font-size: 11px;
}

.card h3 {
  font-size: 14px;
  position: absolute;
  bottom: -70px;
  left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #00ffc9;
  position: absolute;
  font-size: 13px;
}

@media (max-width: 1176px) {
  .container {
    width: 100vw;
    font-size: 11px;
  }
}

@media (max-width: 844px) {
  .card h3 {
    font-size: 10px;
  }
}

@media (max-width: 554px) {
  .card h3 {
    font-size: 9px;
  }
}
